html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  min-height: 100vh;
}

.card {
  border-radius: 10px;
  margin-bottom: 7.5%;
  background-color: transparent !important;
  border-color: rgb(136, 136, 136);
  border-style: dashed;
  border: 10px 10px 10px 10px;
}

.card-title {
  font-size: 1.1em !important;
  font-weight: bold !important;
}

.card .card-content {
  padding: 5px 24px 23px 24px !important;
}

.usado {
  pointer-events: none;
  background: linear-gradient(315deg, #020202, #5a5959) !important;
  cursor: default;
  transition: 1s ease-in-out;
}

.btn-floating i {
  color: #000;
  font-size: 2rem;
  transition: 1s ease-in-out;
}

.badge {
  background-color: #455a64 !important;
}

.datos {
  border: 1.2px rgba(136, 136, 136, 0.596) dashed;
}

.card-content>.identificador {
  color: transparent !important;
  transition-duration: 1s;
}

.card-content>.identificador:hover {
  color: white !important;
  transition-duration: 1s;
}

.tabs.tabs-transparent .tab a:hover, .tabs .tab a.active {
  background-color: #c7c7c71f !important;
  color: #fff !important;
}

.tabs.tabs-transparent .tab a {
  color: #ffffff !important;
}

.tabs.tabs-transparent .indicator {
  height: 3px;
  background-color: #ffffff !important;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-floating.halfway-fab {
  right: 26px;
}

iframe {
  display: none;
}

.navbar-fixed nav {
  background-color: #000000;
}

nav {
  background-color: transparent;
}

.btn {
  background: linear-gradient(315deg, #171e20, #1c2327);
  box-shadow: -11px -11px 6px #0a0d0e, 11px 11px 6px #2a353a;
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 40px;
  border-radius: 10px;
}

#navbar {
  transition: top 0.8s ease;
}

/* switch */

#swt {
  background: #000000;
  position: fixed;
  bottom: -5%;
  width: 40%;
  margin-left: 30%;
  height: 9%;
  left: 0;
  z-index: 1;
  display: none;
  transition: bottom 1s ease;
  border-radius: 20px 20px 0 0;
  padding-top: 0.5em;
}

.switch {
  margin: 15px 0;
}

.switch>label {
  font-size: 1em;
  color: rgb(165, 165, 165);
}

.switch label .lever:after {
  background: linear-gradient(315deg, #fdfdfd, #575757)!important;
  left: -10%;
  width: 30px;
  height: 30px;
}

.switch label .lever::before {
  background: linear-gradient(315deg, #fdfdfd62, #57575762)!important;
}

.switch label .lever {
  background-color: transparent;
  height: 3.5vh;
  width: 60px;
  border: white 2px solid;
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: transparent;
  height: 3.5vh;
  width: 60px;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background: linear-gradient(315deg, #ffffff, #474747)!important;
  left: 60%;
}

.switch label input[type=checkbox]:checked+.lever::before {
  left: 60%;
}

.spinner-white-only {
  border-color: #fbfcff!important;
}

.progress {
  width: 50%;
  margin-top: 2%;
  background-color: rgba(255, 255, 255, 0.658);
}

.determinate {
  background-color: rgba(90, 90, 90, 0.795) !important;
}

#footer {
  display: none;
  border-radius: 20px 20px 20px 20px;
  position: fixed;
  left: 5%;
  bottom: 10vh;
  height: 80vh;
  width: 90%;
  background: linear-gradient(315deg, #680000, #910000);
  color: white;
  text-align: center;
  padding-top: 25%;
  box-shadow: 8px -44px 0px 33px black, 8px 60px 0px 33px black;
  z-index: 1000;
}

#footer>span {
  font-size: 3em;
  
}

@media only screen and (min-width: 600px) {
  #swt {
    width: 30%;
    margin-left: 35%;
  }
}